<?xml version="1.0" encoding="utf-8" ?>
<module>
<name>new_module_researcher_dashboard</name>
<description>
	<lang code="ru" id="1" default="yes">Статистика ответственного</lang>
	<lang code="en" id="2">Статистика ответственного</lang>
	<lang code="kz" id="3">Статистика ответственного</lang>
</description>
</module>
