<?xml version="1.0" encoding="utf-8" ?>
<module>
<name>new_module_admin_accesses</name>
<description>
	<lang code="ru" id="1" default="yes">Новая страница доступов</lang>
	<lang code="en" id="2">Новая страница доступов</lang>
	<lang code="kz" id="3">Новая страница доступов</lang>
</description>
</module>
